*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: poppins, sans-serif;
}

body{

    padding: 20px 80px 100px ;
}

.conteudo{
    width: 100%;
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.box-text{
    width: 600px;

}

.box-image{
    width: 600px;;
    display: flex;
    padding-left: 270px;  
}

.menores{
    
    display: flex;
    justify-content: center;
}


h2{
    color: #333;
    font-size: 40px;
    font-weight: 600;
}

span{
    font-weight:  800;
    color: rgb(10, 143, 81);
    font-size: 40px;
}

button{
    margin-top: 20px;
    margin-left: 20px;
    color: white;
    background-color: rgb(10, 143, 81);
    border-radius: 17px;
    border: none;
    cursor: pointer;
 
    padding: 10px;
    font-size: 14px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4); /* Sombra na direita e embaixo */
    transition: box-shadow 0.3s ease;
    
}

button:hover {
    box-shadow: 7px 7px 12px 
    rgba(0, 0, 0, 0.6); /* Efeito de destaque*/
}  

button:active {
    transform: translate(2px, 2px);
    box-shadow: 2px 2px 5px 
    rgba(0, 0, 0, 0.2); /* Reduz a sombra */
}

.LOGO{
    width: 150px;
    padding-bottom: 45px;
}

        .principal-img{
            width: 270px;
             display: flex;
        }

        .menor-coffe{
                width: 60px;
                cursor: pointer;
                margin: 8PX 8PX;
        }

        .menor-coffe:hover{
                transform: translateY(-30PX);
                transition: 0.2s;
        }

