*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Delius", cursive;
}

img{
    width: 110px;
}

.CONTEUDO-text{
  font-weight: 400;
  font-style: normal;
}

p{
    font-size: 18px;
}

